<h1>Edit Races</h1>



<%= form_for [@runner, @race] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= form_for [@runner, @race], method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
