<h1>Getting Started</h1>
<h2>New to Jog Log? Please enter your first and last name!</h2>
<%= form_for :runner, url: runners_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <%= link_to 'Recent Races', new_race_path %>
<% end %>
